body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

button {
    width: 100%;
    padding: 10px;
    background: #121312;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #333;
}